{% load static %}
<html>
  <head>
    <title>B.JeongHoon`s Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <!-- Black Han Sans, sans-serif -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>


  <body>
    <div class="page-header">
      {% if user.is_active %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="{% url 'login' %}"><span class="glyphicon glyphicon-heart"></span> {{user.name}}</a>
        <a href="{% url 'post_draft_list' %}" class = "top-menu"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'logout' %}" class="top-menu"><span class="glyphicon glyphicon-log-out"></span></a>
        <p class="top-menu">{{user.username}}로 로그인 중 입니다.</p>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-user"></span>Login</a>
        <a href="{% url 'admin:index' %}">Admin</a>
      {% endif %}
      <h1><a href="/">B.JeongHoon`s Blog</a></h1>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
